<div class="centerDiv">
    <mat-card>
        <table id="customers">
            <thead>

                <th>Meta Data</th>
                <th>Selected</th>
                <th>Label</th>
                <th>Order</th>

            </thead>
            <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
                <tr *ngFor="let data of metaData; let i = index" cdkDrag cdkDragLockAxis="y">

                    <td> {{data.meta }} </td>
                    <td> <input type="checkbox" [(ngModel)]="data.isSelected" (change)="getSelected(data.isSelected, data.meta,data.label)"> </td>
                    <td>
                        <mat-form-field class="w-100">
                            <mat-label>{{data.meta}}</mat-label>
                            <input matInput [disabled]="!data.isSelected" [(ngModel)]="data.label">
                        </mat-form-field>
                    </td>
                    <td class="col-xs">
                        <div class="drag-handle">
                            <ng-container [ngTemplateOutlet]="dragHandleTmpl">
                            </ng-container>
                        </div>
                    </td>
                </tr>

                <tbody>
        </table>
    </mat-card>
    <button mat-raised-button color="primary" (click)="exoportData()" style="width: 100%;">Export Data</button>
</div>


<ng-template #dragHandleTmpl>
    <svg class="bi bi-list handle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd"
			d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
			clip-rule="evenodd" />
	</svg>
</ng-template>